.card{
  height: 85vh;
  width: 90%;
  margin: 3% auto;
  background: #f0f2f5;
  border-radius: 5px 5px 5px 5px;
}
.containerCard{
  height: 100%;
}
.sider{
  width: 160px !important;
  max-width: 160px !important;
  min-width: 160px !important;
  background-color: #636e72 !important;
}
