.Menu {
  direction: rtl;
}
.Menu > nav {
  display: inline-block;
  margin: 2% 2%;
  padding: 1%;
}
.Menu > nav > ul {
  list-style-type: none;
}
.Menu > nav > ul > li > a {
  color: BLACK;
  font-size: 18px;
  font-weight: bold;
  font-family: cursive;
}
.Menu > nav > ul > li > a ::hover {
  color: rgb(189, 236, 171);
  font-size: 22px;
}
